		
				<div class="container span8 offset2">
					<h3>Screencasts</h3>
				
					<h4>Demonstration of phenotype explorer as input to GWAS workflow</h4>
					<video height="600" controls="controls">
						<source src="/uwf.ogv" type="video/mp4" />
						Your browser does not support the video tag.
					</video>
				
				</div>
