<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<title>Unified Workflow Project</title>

	<!-- Style Sheets -->
	<link rel="stylesheet" href="{{ MEDIA_URL }}bootstrap/css/bootstrap.css" type="text/css" />
	<!--<link rel="stylesheet" href="{{ MEDIA_URL }}bootstrap/css/bootstrap.min.css" type="text/css" />-->
	<link rel="stylesheet" href="{{ MEDIA_URL }}bootstrap/css/bootstrap-responsive.min.css" type="text/css" />
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/main.css" type="text/css" />
	
	<!-- js/jQuery libraries (more at bottom) -->
	<script type="text/javascript" src="{{ MEDIA_URL }}bootstrap/js/modernizr-2.5.3-respond-1.1.0.min.js"></script>

	</head>


	<body>
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container-fluid">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					<a class="brand" href="#">Unified Workflow</a>
					<div class="btn-group pull-right">
						<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
							<i class="icon-user"></i> Anonymous
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><%= link_to("Profile", {:template => "/"}) %></li>
							<li class="divider"></li>
							<li><a href="#">Sign Out</a></li>
						</ul>
					</div>
					<div class="nav-collapse">
						<ul class="nav">
							<li><%= link_to("Home", {:template => "/"}) %></li>
							<li><%= link_to("About", {:template => "/"}) %></li>
							<li><%= link_to("Contact", {:template => "/"}) %></li>
						</ul>
					</div><!--/.nav-collapse -->
				</div>
			</div>
		</div>


		<div class="container-fluid">
			<div class="row-fluid">
				<!-- Left Panel -->
				<div class="span2 well">
						<img src="{{ MEDIA_URL }}images/matt.jpg" />
				</div>
				<!-- Center Panel-->
				<div class="span8">
					<div class="row span12 well">
						<h1> Local EMMA/EMMAX/GEMMA Server</h1>
					</div>
					<div class="row span10">
						<b> Description </b><br />
						This tool runs the <a style="text-decoration:underline;" href="http://mouse.cs.ucla.edu/emma/">UCLA EMMA</a>,  
						<a style="text-decoration:underline;" href="http://genetics.cs.ucla.edu/emmax/">UCLA EMMAX</a>, or <a style="text-decoration:underline;" href="http://stephenslab.uchicago.edu/software.html">
						University of Chicago GEMMA </a> algorithm on our Local Server with phenotype data from multiple mouse strains. EMMA, EMMAX, and GEMMA are efficient mixed model algorithms that determine the 
						strength of associations between SNP genotypes and phenotype variations across different strains. The EMMAX algorithm approximates EMMA but is much faster and can handle larger SNP datasets. 
						GEMMA produces results as accurate as EMMA but as quickly as EMMAX and can also handle larger SNP datasets. Please refer to the algorithm developer's publications and 
						<a style="text-decoration:underline;" href="/research/links">websites</a> for more infomation. A guide to citing can be found <a style="text-decoration:underline;" href="/citing">here</a>.<br/><br/>
		
						<b> Instructions </b><br />
						Please format your tab-delimited phenotype file with the follwing columns: 'Strain', 'Animal_Id', 'Sex' ('Male', 'Female', or 'NA'), and a fourth column 
						including your phenotype. Rows can be individual animal data or strain means. As guidance please see a template file 
						<a style="text-decoration:underline;" href="/media/Sample_EMMA.xls">here</a>. <i>Recommended:</i> Fill out this template, save it as a tab-delimited file,
						and upload it to this form. A list of available strains and their spellings can be found 
						<a style="text-decoration:underline;" href="/media/strain_names.xls">here</a>.<br /><br />
						<i>Formatted Phenotype File:</i> Upload the phenotype file. Note: Use format as described above. <br />
						<i>EMMA Algorithm:</i> Choose the desired algorithm. <br />
						<i>SNP Dataset:</i> Choose from several SNP panels.
						<hr/><br/>
					</div>

					<div class="row span10">
						<form enctype="multipart/form-data" method= "post" action="." class="form-horizontal" id="form">{% csrf_token %}
								<fieldset>
								<div class="control-group">
									<label class="control-label" for="pheno_file">Formatted Phenotype File</label>
									<div class="controls">
										<input class="input-file" name="pheno_file" id="pheno_file" type="file" />
										<p class="help-block">Please select the Phenotype file to upload here.</p>
									</div>
								</div>
							
								<div class="control-group">
									<label class="control-label" for="emma_type">EMMA Algorithm</label>
									<div class="controls">
										<select name="emma_type" id="emma_type">
											<option value="emma">EMMA</option>
											<option value="emmax" selected="True">EMMAX</option>
											<option value="gemma">GEMMA</option>
										</select>
									</div>
								</div>
							
								<div class="control-group">
									<label class="control-label" for="snp_set">SNP Dataset</label>
									<div class="controls">
										<select name="snp_set" id="snp_set">
											<option>4M</option>
											<option>65M</option>
										</select>
									</div>
								</div>
								
								<div class="form-actions">
									<button class="btn btn-primary" type="submit">Submit</button>
								</div>
								</fieldset>
						</form>
					</div>
				</div>
			</div>

			<hr>
			<footer>
				<p>(c) 2012 University of Pittsburgh, Shapiro Group, Berndt Lab</p>
			</footer>
	</div> <!-- /container -->

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui-1.8.16.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}bootstrap/js/bootstrap.min.js"></script>

	
	</body>
</html>
