
						<li id="<%=group.id%>" class="ui-selectee">
						
							<i class="icon-group"></i>
							<a href="/groups/<%= group.id %>">						
								<span class="display-Group"> <%= group.name %></span>
							</a>
							<span class="gray">by <%= group.creator.name %></span>
						</li>

