							
						<div class="user-box">
							<div class="clear-fix">
								<a href="">
									<% image_tag("group_icon.png", :alt => group.name, :class => "gravatar") %>
									<i class="icon-group icon-4x icon-border"></i>
								</a>
								<span id="group-name"><%= group.name %></span>
								<span id="group-description"><%= group.description %></span>
							</div>
						</div>
