

					<div class="row-fluid my-user">
						<%= render 'group_info', group: group %>
						<%= render 'shared/stats', group: group %>
					</div>
					<hr>
					<div class="row-fluid">
						<h3> Data </h3>
						<ol class="data">
							
						</ol>
					</div>
					<hr>
					<div class="row-fluid">
						<h3>Jobs </h3>
					</div>
