
<% user ||= @user %>
<li id="<%=group.id%>">
	<div class="group-info-small">
	<% if user == group.creator %>
		<i class="icon-star-empty"></i>	
	<% elsif group.confirmed_member?(user) %>
		<i class="icon-group"></i>
	<% else %> 
		<i class="icon-group faded"></i>
	<% end %>
		<a href="/groups/<%= group.id %>"><%= group.name %></a>
		<span class="gray"> by <% if user == group.creator %> You <% else %> <%= group.creator.name %> <% end %></span>
	</div>
</li>


