
						<div class="group-info-large">
								<i class="icon-group icon-4x icon-border"></i>
								<span id="group-name"><%= group.name %></span>
								<span id="group-description"><%= group.description %></span>
						</div>
