
<% users ||= User.all %> 
<% group ||=  @group %>

<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h3>Select Group Members</h3>
</div>
<div class="modal-body" style="overflow-y: hidden;">
<%= simple_form_for group, :url => edit_group_path, :remote => true, :method => :post do |f| %>
	<%= f.association :users, :collection => users, :selected => group.members.map(&:id), :label => 'Group members:', :input_html => { 'data-placeholder'=> 'No members selected (private)', :style => "width:514px;", :id => 'edit-group-members', } %>
<% end %>
</div>
<div class="modal-footer">
	<input type="submit" class="btn btn-primary" value="Modify">
</div>
