
<div class="span12">
	<% if confirmed_groups.any? %>
	<ul class="groups">
		<%= render confirmed_groups, user: user %>
	</ul>
	<%= will_paginate confirmed_groups, :param_name => 'confirmed_groups_paginate' %>
	<% end %>
</div>
