
<% datafile ||= @datafile %>
<% user ||= @user %>
<% groups ||= @groups %>
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h3>Share this datafile</h3>
</div>
<div class="modal-body" style="overflow: visible;">
	<% if datafile.uwf_runnable %>
		<span class="label label-info">UWF</span> 
	<% end %>
	<%= datafile.description %> (<%= datafile.filename %>)
	<br/ >
	<%= simple_form_for datafile, :url => user_datafile_path(user, datafile), :html => { :class => '', :multipart => true } do |f| %>
		<%= f.association :groups, :collection => groups, :selected => datafile.groups.map(&:id), :label => false, :input_html => { 'data-placeholder'=> 'All groups currently selected', :style => "width:510px;" } %>
</div>
<div class="modal-footer">
	<input type="submit" class="btn btn-primary" value="Create">
</div>
	<% end %>