

					<div class="row-fluid my-user">
						<h3>Data </h3>
						
					</div>
					<hr>
					<div class="row-fluid">
						<h3> Jobs </h3>
						
					</div>
					<hr>
					<div class="row-fluid">
						<h3> Post </h3>
						<%= render 'shared/micropost_form' %>
					</div>
