

					<div class="row-fluid my-user">
						<%= gravatar_for @user, :size => 100 %>
						<h4><%= @user.name %></h4>
						<%= @user.institution %>
						<%= @user.email %>
					</div>
					<hr>
					<div class="row-fluid">
						<h3> Micropost </h3>
					</div>
					<hr>
					<div class="row-fluid">
						<h3> Collaborators </h3>
					</div>
