

					<div class="row-fluid my-user">
						<%= render 'user_info', user: user %>
						<%= render 'shared/stats' %>
					</div>
					<hr>
					<div class="row-fluid">
						<h3> Data </h3>
						<ol class="data">
							
						</ol>
					</div>
					<hr>
					<div class="row-fluid">
						<h3>Jobs </h3>
					</div>
