<% @page_title = "All users" %>

<% content_for :page_css do %>
<% end %>
<% content_for :page_js do %>
<% end %>

				<div class="row-fluid span10 offset1">
					<h1>All users</h1>
					<%= will_paginate %>
					<%= render :partial => 'user_info', :collection => @users, :as => :user %>
				</div>


