<% @page_title = "All users" %>

<% content_for :page_css do %>
<% end %>
<% content_for :page_js do %>
<% end %>

				<div class="row span10 offset2">
				<h1>All users</h1>
					<ul class="users">
						<%= render @users %>
					</ul>
				<%= will_paginate %>
				</div>


