<% @page_title = @user.name %>

<% content_for :page_css do %>
<% end %>
<% content_for :page_js do %>
<% end %>

				<div class="container-fluid span3 offset1">
					<%= render 'user_panel', user: current_user %>
				</div>
				
				<div class="container-fluid span4">
					<%= render 'tool_panel' %>
				</div>
				
				<div class="container-fluid span3 offset">
					<%= render 'social_panel', groups: @groups, micropost: @micropost, microposts: @microposts %>
				</div>
