
<div class="span12">
	<% if jobs.any? %>
	<ol class="jobs">
		<%= render :partial =>'shared/job', :collection => jobs %>
	</ol>
	<%= will_paginate jobs, :param_name => 'jobs_paginate' , :inner_window => 1, :outer_window => 1 %>
	<% end %>
</div>

