
<% jobs ||= @jobs %>
<% user ||= @user %>
<% show_listing_on_load ||= false %>
<div class="row-fluid title-bar">
	<div class="drop-panel">
		<i id="collapse-jobs" class="icon-chevron-down"></i>
	</div>
	<div class="title-panel">
		<span class="title"> Jobs </span>
	</div>
	<div class="icon-panel">
		<i class="icon-number"> <%= viewer.jobs.count %> </i>
		
		<i class="disabled icon-blank"></i>
		<a href="/users/<%= user.id %>"><i id="add-job" class="icon-plus" onclick="flash_notice('Create a job by running a tool.');"></i></a>
	</div>
</div>

<div id="job-listing" <% if not show_listing_on_load %> style="display:none;" <% end %>>
	<% if jobs.any? %>
	<ol class="jobs">
		<%= render :partial =>'shared/job', collection: jobs %>
	</ol>
	<%= will_paginate jobs, :param_name => 'jobs_paginate' , :inner_window => 1, :outer_window => 1 %>
	<% end %>
</div>

