
							<div id="page_container" class="controls">
								<div class="page_navigation pagination"></div>
								<ul id="selectable-<%= id %>" class="selectable users content" style="display:none;">
									<%= render items %>
								</ul>
							</div>
