

						<div class="stats">
							<a>
							<% if defined? user %>
								<strong><%= user.authored_posts.count %></strong> microposts
							<% elsif defined? group %>
								<strong><%= group.microposts.count %></strong> microposts
							<% end %>
							</a>
							<a>
							<% if defined? user %>
								<strong><%= user.groups.count %></strong> groups
							<% elsif defined? group %>
								<strong><%= group.members.count %></strong> members
							<% end %>
							</a>
						</div>
