
<% user ||= @user %>
<% group ||= @group %>
<div class="stats">
	<a>
	<% if not user.nil? %>
		<strong><%= user.authored_posts.count %></strong> microposts
	<% elsif not group.nil? %>
		<strong><%= group.microposts.count %></strong> microposts
	<% end %>
	</a>
	<a>
	<% if not user.nil? %>
		<strong><%= user.groups.count %></strong> groups
	<% elsif not group.nil? %>
		<strong><%= group.members.count %></strong> members
	<% end %>
	</a>
</div>
