
						<% @user ||= current_user %>
						<div class="stats">
							<a href= "/users/<%= @user.id %>">
								<strong id="microposts" class="stat">
									<%= @user.microposts.count %>
								</strong>
								microposts
							</a>

						</div>
