<form id="contactForm" name="contactForm" enctype="multipart/form-data" action="." method="post">
<section class="contactUs" id="contactUs">
	<ul>
		<li>Problem</li>
		<li>Comment</li>
		<li>Question</li>
		<li>Complement</li>
	</ul><br>
	
	<textarea id="CommentField" class="contact" rows="10" cols="50" style="text-align:left; width: 450px; display: inline-block;">Please let us know your Problem</textarea><br>
	<span style="text-align:left; width: 450px; display: inline-block;">Your Name</span><br>
	<input id="NameField" class="contact" style="width: 450px;"></input><br>
	<span style="text-align:left; width: 450px; display: inline-block;">Your Email Address</span><br>
	<input id="EmailField" class="contact" style="width: 450px;"></input><br>
	<span style="text-align:left; width: 450px; display: inline-block;">How are you feeling right now?</span><br>
	<select id="attitude" class="contact" style="float:left; width: 200px; display: inline-block;">
		<option value="delighted">Delighted</option>
		<option value="enthusiastic">Enthusiastic</option>
		<option value="excited">Excited</option>
		<option value="glorious">Glorious</option>
		<option value="happy">Happy</option>
		<option value="lucky">Lucky</option>
		<option value="thankful">Thankful</option>
		<option value="successful">Successful</option>
		<option value="angry">Angry</option>
		<option value="bewildered">Bewildered</option>
		<option value="bored">Bored</option>
		<option value="helpless">Helpless</option>
		<option value="perplexed">Perplexed</option>
		<option value="tired">Tired</option>
		<option value="upset">Upset</option>
	</select>
</section>
</form>
