<% content_for :page_css do %>
<% end %>

<% content_for :page_js do %>

		<%= javascript_include_tag('bootstrap/bootstrap-carousel') %>
<% end %>

    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <%= image_tag('slide-01.jpg')%>
          <div class="container">
            <div class="carousel-caption">
              <h1>Headline 1</h1>
              <p class="lead">Text about headline 1</p>
              <a class="btn btn-large btn-primary" href="#">Optional button</a>
            </div>
          </div>
        </div>
        <div class="item">
          <%= image_tag('slide-02.jpg')%>
          <div class="container">
            <div class="carousel-caption">
              <h1>Another example headline.</h1>
            </div>
          </div>
        </div>
        <div class="item">
          <%= image_tag('slide-03.jpg')%>
          <div class="container">
            <div class="carousel-caption">
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="span8 offset2">
          <h2>Sign Up!</h2>
          <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
          <p><a class="btn" href="#">Sign Up! &raquo;</a></p>
        </div><!-- /.span4 -->
      </div><!-- /.row -->
      
		<script>
			!function ($) {
				$(function(){
					$('#myCarousel').carousel({interval:4000})
				})
			}(window.jQuery)
		</script>

