<% @page_title = "Unified Workflow Submit" %>

<% enable_file_selection ||= @enable_file_selection ||= true %>
<% datafiles ||= @datafiles %>

<!-- Center Panel-->
<div class="offset2 span8 main-panel">
	<div>
		
	</div>
</div>


