<h3> Your Jobs </h3>
						<ul class="nav nav-pills nav-stacked">
							<li><%= link_to("Submit a job", :action => "new") %></li>
							<li class="divider"><hr></li>
							<li><%= link_to("Phenotype 1", :action => "show", :id => "11432") %></li>
							<div class="progress progress-striped active">
								<div class="bar" style="width: 40%;"></div>
							</div>

							<li><%= link_to("Phenotype 2", :action => "show", :id => "4A461") %></li>
							<div class="progress progress-striped active">
								<div class="bar" style="width: 60%;"></div>
							</div>
							<li></li>
						</ul>
						
