<%= image_tag('clint.jpg')%>
					<address>
						<strong>University of Pittsburgh</strong><br>
						203 Lothrop Street<br>
						Pittsburgh PA, 15216<br>
						<abbr title="Phone">P:</abbr> (412) 624-4333
						clc184@pitt.edu
					</address>
					<address>
						<strong>Clinton Cario</strong><br>
						<a href="mailto:#">clc184@pitt.edu</a>
					</address>
