<% @page_title = "Unified Workflow Submit" %>
		<div class="container-fluid">
			<div class="row-fluid">
				<!-- Left Panel -->
				<div class="span2 well">
					<%= image_tag('matt.jpg')%>
				</div>
				<!-- Center Panel-->
				<div class="span8">
					<div class="row span12 well">
						<h1> Local EMMA/EMMAX/GEMMA Server</h1>
					</div>
					<div class="row span10">
					    <h3> Job submitted to sidekiq with following: </h3>
                            Pheno: <%= @pheno_file %><br/>
                            Alg: <%= @emma_type %><br/>
                            SNP: <%= @snp_set %><br/>
					</div>
				</div>
			</div>

			<hr>
			<footer>
				<p>(c) 2012 University of Pittsburgh, Shapiro Group, Berndt Lab</p>
			</footer>
		</div> <!-- /container -->
