/* Main stylesheet */
html { height: 100%; }

/* For flash messages */
#flash
{
	z-index: 10000;
	max-width: 75%;
	margin: 1px;
	position: absolute; 
	top: 0px; 
	left:40%; 
}


/* PANEL CSS */
#job-progress *
{
	font-size: 24px;
	line-height: 30px
}
#job-progress ul
{
	list-style: none;
}

.complete
{
	color: #448744;
	text-shadow: 0 0 5px #D1FFD1;
	list-style-image: url("/assets/ok.png");
	
}
.incomplete
{
	color: #ddd;
	text-shadow: #888 0 -1px 0;
}

.main-panel
{
	margin-left: 0px;
	padding: 0px;
	padding: 0% 2.5%;
	border-left: 2px solid #eee;
	border-right: 2px solid #eee;
}

.user-panel
{
	padding: 0px;
}

.job-panel
{
	padding: 0px;
}
.job-panel > h3
{
	margin: 25px 20px 5px 20px;
}
.job-panel > hr
{
	margin: 0px;
}

.job-link
{
	border-top: 0px solid #eee;
	font-size: 22px;
	padding: 10px 20px 10px 20px;
	margin-top: 10px;
}
/*
.job-link:hover
{
	background: #eeeeee;
	border-color: #eeeeee #eeeeee #dddddd;
	margin-top: 10px;
}*/
.job-link a:hover
{
	text-decoration: none;
	margin-top: 10px;
}

.job-active
{
	background-color: #D9EDF7;
	border: 1px solid #BCE8F1;
	margin-top: 10px;
	border-radius:5px;
}
.job-active > a
{
	font-size: 22px;
	color: #3A87AD;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	text-decoration: none;
	margin-top: 10px;
}

.job-warning
{
	background-color: #FCF8E3;
	border: 1px solid #FBEED5;
	margin-top: 10px;
	border-radius:5px;

}
.job-warning > a
{
	font-size: 22px;
	color: #C09853;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	text-decoration: none;
}

.job-success
{
	background-color: #DFF0D8;
	border: 1px solid #D6E9C6;
	margin-top: 10px;
	border-radius:5px;
	
}
.job-success > a
{
	font-size: 22px;
	color: #468847;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	text-decoration: none;
}

.job-danger
{
	background-color: #F2DEDE;
	border: 1px solid #EED3D7;
	margin-top: 10px;
	border-radius:5px;
}
.job-danger > a
{
	font-size: 22px;
	color: #B94A48;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	text-decoration: none;
}
.progress { margin: 10px 0px; }


/* FULLSCREEN CSS */
:-webkit-full-screen
{
    position: absolute;
    height: 100%;
    top: 0; left: 0; right: 0; bottom: 0;
    box-shadow: 0px 0px 4px white;
    background-color: white;
}
:-moz-full-screen *
{
    position: absolute;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    top: 0; left: 0; right: 0; bottom: 0;
    box-shadow: 0px 0px 4px white;
    background-color: white;
}
:-webkit-full-screen img { height: 100%; }

#circos_img
{
    max-width: 100%;
    height: 100%;
}


/* FORM OVERRIDES 
.form-horizontal,
.control-label { width: 175px; }

.form-horizontal,
.controls { margin-left: 185px; }
*/


/* GMAPS4RAILS OVERRIDES */
/* Allows gmaps4rails map to align nicely with other bootstrap elements */ 
.map_container { padding: 0px;}
/* Fixes google map navigation button issue caused by bootstrap */
#map img { max-width: none; }



/* BOOTSTRAP OVERRIDES */
/*#circos_img { height:650px; }*/
.modal-backdrop, .modal-backdrop.fade.in { opacity: 0.4; }

a:hover { text-decoration: none; }

/* Fix for cerulean alert window */
.alert-info 
{
	background-color: #43ACE9;
	color: white;
}

.alert { padding: 8px 20px; }

/* Add styling for flash notice */
.alert-notice
{	
	border: 1px solid #FBEED5;
	color: #C09853;
	background: #FCF8E3;
}


.form-actions
{
	border-top: 0px;
	background-color: rgba(0,0,0,0);
}
span.help-inline { width: 500px; }


.nav-tabs > li { margin-bottom: -2px; }

.hero-unit
{
	position: relative;
	overflow: hidden;
	padding: 0px;
	height:100%;
	background-color: #fff;
}

.bottom-bar
{
	border-top: 1px solid #aaa;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(255,255,255,.65);

}

body
{
	/*height: 100%;*/
	width: 100%;
	position: absolute;
	padding-top: 60px;
	padding-bottom: 60px;
	
}

.form-actions { background-color: rgba(0,0,0,0); }
.container-fluid,
.row-fluid { height: inherit; }
.modal-body { max-height: 800px; }

.pagination { margin: 5px 0px; }

select, input[type="file"] { line-height: 0px;}



/* Simple selected/unselected classes */
.selected { opacity: 1.0; }
.unselected { opacity: .2; }


/* Scroll bar style */
::-webkit-scrollbar { width: 10px; }
 
::-webkit-scrollbar-track
{
	background: rgb(215,215,215); 
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb
{
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: rgb(175,175,175); 
}

/* Navigation Arrows */
#submit-right
{
	position: fixed;
	top: 50%;
	right: 0%;
	z-index: 100;
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	background: #888;
	opacity: .25;

}
#submit-right img
{
	height: 50px;
}


#submit-left
{
	position: fixed;
	top: 50%;
	left: 0%;
	z-index: 100;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
	background: #888;
	opacity: .25;

}
#submit-left img
{
	height: 50px;
}

/* Carousel base class */
.carousel
{
	margin-bottom: 60px;
}

.carousel .container
{
	position: relative;
	z-index: 9;
}

.carousel-control
{
	height: 80px;
	margin-top: 0;
	font-size: 120px;
	text-shadow: 0 1px 1px rgba(0,0,0,.4);
	background-color: transparent;
	border: 0;
}

.carousel .item
{
	height: 500px;
}
.carousel img
{
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	height: 500px;
}

.carousel-caption
{
	background-color: transparent;
	position: static;
	max-width: 550px;
	padding: 0 20px;
	margin-top: 200px;
}
.carousel-caption h1,
.carousel-caption .lead
{
	margin: 0;
	line-height: 1.25;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0,0,0,.4);
}
.carousel-caption .btn
{
	margin-top: 10px;
}
	/* MARKETING CONTENT
	-------------------------------------------------- */

	/* Center align the text within the three columns below the carousel */
	.marketing .span4
	{
		text-align: center;
	}
	.marketing h2
	{
		font-weight: normal;
	}
	.marketing .span4 p
	{
		margin-left: 10px;
		margin-right: 10px;
	}


	/* Featurettes
	------------------------- */

	.featurette-divider
	{
		margin: 80px 0; /* Space out the Bootstrap <hr> more */
	}
	.featurette
	{
		padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
		overflow: hidden; /* Vertically center images part 2: clear their floats. */
	}
	.featurette-image
	{
		margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
	}

	/* Give some space on the sides of the floated elements so text doesn't run right into it. */
	.featurette-image.pull-left
	{
		margin-right: 40px;
	}
	.featurette-image.pull-right
	{
		margin-left: 40px;
	}

	/* Thin out the marketing headings */
	.featurette-heading
	{
		font-size: 50px;
		font-weight: 300;
		line-height: 1;
		letter-spacing: -1px;
	}

/* Page wide stuff */


/* user index */
#user-index .user-box
{
	width: 300px !important;
	margin: 25px !important;
	border-bottom: 1px solid #eee;
}


.users, .groups
{
	list-style: none;
	margin: 5px 5px;

}

.users li, .groups li
{
	overflow: auto;
	padding: 2px 0;
	/*border-top: 1px solid #999;*/
}
.selectable {width: 300px;}
.selectable .ui-selecting
{
}
.selectable .ui-unselecting
{
}

.selectable .ui-selected
{
	background-color: #FCF8E3;
	border: 1px solid #FBEED5;
}

.selectable .ui-selectee
{
	border: 1px solid rgba(255,255,255,0);
	cursor: pointer;
}



.user-management
{
	overflow: auto;	
}
.user-management a
{
	float: left;
	padding: 6px 12px;
	border-left: 1px solid #eee;
	color: gray;
}
.user-management a:hover
{
	text-decoration: none;
	color: #FFB800;
}

.user-management a:first-child
{
	padding-left: 0;
	border: 0;
}

.user-management strong { display: block; }

.user-management form
{
	float:left;
	margin: 0px;
}
.user-management .info { line-height: 31px; }




/* microposts */


.microposts
{
	list-style: none;
	margin: 15px 0px;
}

.microposts li
{
	padding: 10px 0px;
	border-bottom: 1px dashed #ddd;
}

.microposts li:first-child {border-top: 1px dashed #ddd;}



/* jobs */


.jobs
{
	list-style: none;
	margin: 15px 0px;
}

.jobs > li
{
	padding: 10px 0px;
	border-bottom: 1px dashed #ddd;
}

.jobs > li:first-child {border-top: 1px dashed #ddd;}
.jobs .progress { height: 5px; width: 75%;}


/* jobs */


.datafiles
{
	list-style: none;
	margin: 15px 0px;
}


.datafiles > li
{
	padding: 5px 0px;
	border-bottom: 1px dashed #ddd;
}

.datafiles > li:first-child {border-top: 1px dashed #ddd;}

/* */

.content 
{
	display: block; 
	word-wrap: break-word;
}

.content .display 
{
	position: absolute;
	width: 75%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	line-height: 30px;
	height: 30px;
}
.content .display-User { color:#08C; }
.content .display-Group { color:#faa732; }

.timestamp { color: #999; }

aside textarea
{
	height: 100px;
	margin-bottom: 5px;
}


h3 span.btn
{
	float:right; 
	font-size:14px; 
	font-weight:normal; 
	margin-top: 6px;
	margin-right: 25%;
}

.text-links
{
	overflow: auto;	
}
.text-links a, .truncate_more_link
{
	/*padding: 3px 3px;
	border-radius: 5px;
	border: 1px solid #ddd;
	border-left: 1px solid #eee;
	background: #fff;	
	*/
	color: #735E3F;

}
.text-links a:hover, .truncate_more_link:hover
{
	text-decoration: none;
	color: #B39362;
	background: #FFF;
}
/*
.text-links a:first-child
{
	padding-left: 0;
	border: 0;
}
*/







.clear-fix:after
{
	content: "";
	display: block;
	height: 0;
	clear: both;
}

.gray { color: #ccc; }



/* =========================================================== */
/*   Shared Styles                                             */
/* =========================================================== */

/* Delete Icons */
.delete { color: #aaa; }
.delete:hover { color: #E62C29; text-decoration: none; }

.delete i
{
	/*
	position:relative;
	top: -50px;
	left: 90%;*/
	float:right;
	font-size: 17px;
	padding-right: 3px;*/
}
.icon-panel .delete i
{
	float: inherit;
	font-size: 14px;
	padding-right: 0px;
	
}


/* The icon panel                                              */
/* ----------------------------------------------------------- */
li [class^="icon-"] { width: inherit;}
.icon-panel 
{
	margin-right:3px;
	position: absolute;
	top: 0%;
	right: 0%;
	height: 25px;
	line-height: 25px;
	/*width: 75px;*/
	
	/*
	border: 1px solid #f2f2f2;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #fcfcfc;
	*/
	
}

.icon-panel [class^="icon-"],.icon-panel [class*=" icon-"]
{
	width: 22px;
	display: inline-block;
	text-align: center;
	vertical-align:middle;
	/*margin-top: 4px;*/
	cursor:pointer;
	color: black;
}

.icon-panel [class^="icon-"]:hover,.icon-panel [class*=" icon-"]:hover
{
	color: #08c;
	font-size: 22px;
}
.icon-panel i.disabled:hover { color: #ccc; font-size:14px; }
.icon-panel i.disabled { color: #ccc; cursor: inherit; }

.icon-panel i.icon-remove:hover { color: #E62C29; }
.icon-panel i.disabled.icon-remove:hover { color: #ccc; }
.icon-panel > i.icon-number
{
	/*
	border: solid #08e 1px;
	-webkit-border-radius: 4px;
	padding: 2px 0px;
	background: #08c;
	color: white;
	margin-right: 3px;
	*/
	color: #08c;
	font-weight: bold;
	position: relative;

}
.icon-panel i.icon-number:hover
{
	/* color: white; */
	font-size: 14px;
	cursor: default;
}
.icon-panel a i { margin-top: -1px; }

.drop-panel
{
	position: absolute;
	top: 0%;
	left: 0%;
	height: 25px;
	line-height: 25px;
}

.drop-panel [class^="icon-"],.icon-panel [class*=" icon-"]
{
	width: 22px;
	display: inline-block;
	text-align: center;
	vertical-align:middle;
	/*margin-top: 4px;*/
	cursor:pointer;
}

.title-bar
{
	position: relative; 
	height:25px;
}
.title-panel
{
	position: absolute;
	top: 0%;
	left: 30px;
	height: 25px;
	line-height: 25px;
}
.title
{
	font-size:25px;
	width: 50%;
	line-height: 28px;
	cursor: pointer;
}
.title-small
{
	font-size:14px;
}


/* The group partial                                           */
/* ----------------------------------------------------------- */
.groups
{
	list-style: none;
	margin: 10px 5px;
}

/* Customize the font-awesome group icon a bit */
.group-info-small [class^="icon-"], .group-info-small [class*=" icon-"], .icon-group
{ 
	color: #FAA732; 
	float: left;
	margin-top: 2px;
	margin-right: 10px;
}
.group-info-small i.icon-group.faded { color: #fae5c8; }


/* Parent container for each group */
.group-info-small
{
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;

	display: table-cell;
	vertical-align: bottom;
}
.group-info-small a{ color: #FAA732; }
.group-info-small a:hover
{
	color: #FFDAA6;
	text-decoration: none;
}

/* The group-info partial                                      */
/* ----------------------------------------------------------- */
#group-index div.group-info-large 
{
	border: solid 3px #eee;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	width: 325px;
}
#group-index div.group-info-large:hover { background: #eee; }
#group-index div.group-info-large i { border: none; }


.group-info-large 
{
	margin: 2px;
	float: left;
	width: 100%;
}
.group-info-large #group-name
{
	font-size: 1.1em;
	font-weight: bold;
	display: block;
	padding: 7px 0px;
}

.group-info-large #group-description
{
	font-size: 1.0em;
	display: block;
}


/* The user partial                                            */
/* ----------------------------------------------------------- */
.members
{
	list-style: none;
	margin: 5px 5px;
}

/* Customize the font-awesome group icon a bit */
.icon-user
{ 
	color: #08c; 
	float: left;
	margin-top: 2px;
	margin-right: 10px;
}
a i.icon-group:hover { text-decoration: none; }

/* Parent container for each group */
.user-info-small
{
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;

	display: table-cell;
	vertical-align: bottom;
}
.user-info-small a{ color: #08c; }
.user-info-small a:hover 
{
	color: #67BCE5;
	text-decoration: none;
}

/* The user-info partial                                       */
/* ----------------------------------------------------------- */
.user-info-large 
{
	margin: 2px;
	float: left;
	width: 100%;
}

#user-index div.user-info-large 
{
	border: solid 3px #eee;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	width: 325px;
}
#user-index div.user-info-large:hover { background: #eee; }
#user-index div.user-info-large .gravatar { border: none; }


.user-info-large #user-name
{
	font-size: 1.1em;
	font-weight: bold;
	display: block;
	padding: 7px 0px;
}

.user-info-large #user-institution
{
	font-size: 1.0em;
	display: block;
	padding-bottom: 7px;
}

.user-info-large #user-email
{
	font-size: 1.0em;
	display: block;
	padding-bottom: 7px;
}

.user-info-large .gravatar
{
	float: left;
	margin-top: 2px;
	margin-right: 10px;
	padding: 8px 12px;
	border: solid 3px #eee;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}


/* The stats partial                                           */
/* ----------------------------------------------------------- */
.stats
{
	overflow: auto;
	margin: 5px;
}
.stats a
{
	padding: 0 10px;
	border-left: 1px solid #eee;
	color: #ccc;
}
.stats a:hover
{
	text-decoration: none;
	color: #ccc;
}

.stats a:first-child
{
	padding-left: 0;
	border: 0;
}


/* Gravatar stuff                                              */
/* ----------------------------------------------------------- */
.gravatar
{
	float: left;
	margin-top: 2px;
	margin-right: 10px;
}

img.gravatar
{
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}


/* =========================================================== */
/*   groups/show view styles                                   */
/* =========================================================== */

/* The shared/multi_select partial                             */
/* ----------------------------------------------------------- */
.selectable li .user-info-small a { pointer-events: none; } 
#selectable-users
{
	border: 1px solid #ccc;
	height: 100px;
	margin: 0px;
	margin-top: 10px;
	width: 308px;
	padding: 2px;
	overflow-y: auto;
}



/* =========================================================== */
/*   groups/show view styles                                   */
/* =========================================================== */

/* The group_center_panel partial                              */
/* ----------------------------------------------------------- */
#new-post
{ }

/* The group_right_panel/task partial                          */
/* ----------------------------------------------------------- */
.tasks
{
	list-style: none;
	margin: 15px 0px;
}

.tasks li
{
	padding: 10px 0;
	margin-bottom: 3px;
	/*background: #fcfcfc;*/
	border-bottom: 1px dashed #ddd;
	border-radius: 5px;
}

.tasks li:first-child {border-top: 1px dashed #ddd;}

#new-task
{ }



/* =========================================================== */
/*   users/show view styles                                    */
/* =========================================================== */
.listing-panel
{
	height: 30px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	position: relative;
	
}
.listing-panel:last-child
{
	border-bottom: none;
}

.listing-panel .group-info-small
{
	position: absolute;
	left: 5px;
	line-height: 30px;
	height: 30px;
}
.listing-panel .group-info-small [class^="icon-"], .group-info-small [class*=" icon-"], .icon-group { margin-top: 8px; }
.listing-panel .icon-panel 
{
	line-height: 25px;
	height: 25px;
}
.listing-panel .icon-panel i.icon-sign-blank { color: rgba(0,0,0,0); }

#to-box { padding-bottom: 10px; }
#to-group, #to-user
{
	padding: 5px;
	border: 1px solid #eee;
	border-radius: 5px;
	cursor: pointer;
}
#to-group.highlighted, #to-user.highlighted
{
	background: #fcf8e3;
}
#to-group i.icon-group, #to-user i.icon-user
{
	float:none;
	margin: 0px 5px;
}
#new_micropost div.control-group.select { margin-bottom: 0px; }


.invisible { color: rgba(0,0,0,0); }
.display .disabled, .display .disabled:hover
{
	color: #fff;
	background: #eee;
	text-shadow: none;
}
