
		<div class="bottom-bar">
			<div class="bottombar-inner">
				<div class="container">
					<p><center>(c) 2012 University of Pittsburgh, Berndt Lab</center></p>
				</div>
			</div>
		</div> <!-- /bootom-bar -->
